<div class="container">
  <div class="row justify-content-center">
    <h1>Tu segundazo</h1>
    <hr/>
    <img class="card-img-top" src="\assets\Logo.png"/>
    <hr/>
    <table class="table table-sm">
      <thead class="table table-dark">
        <tr class="d-flex">
        <th class="col-1">#</th>
        <th class="col-2">Marca</th>
        <th class="col-2">Linea</th>
        <th class="col-2">Modelo</th>
      </tr>
    </thead>
    <tbody>
        <tr class="d-flex" *ngFor="let tusegundo of tusegundos">
          <th class="col-1">{{tusegundo.id}}</th>
          <td class="col-2">{{tusegundo.marca}}</td>
          <td class="col-2">{{tusegundo.linea}}</td>
          <td class="col-2">{{tusegundo.modelo}}</td>
        </tr>
    </tbody>
  </table>
  <div *ngFor="let marca of tusegundos_count | keyvalue">
    <a>Total {{marca.key}}: {{marca.value}}</a>
  </div>

  </div>

  <footer class="text-center text-lg-start">
    <div class="text-center p-3">
      Contact Us: +57 800800 - info@tusegundazo.com - @tusegundazo
    </div>
  </footer>
</div>
